<?xml version="1.0"?>
<!--
    Copyright © 2018 Rubic. All rights reserved.
    See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <clean_checkout>
            <general>
                <force_luma_checkout>0</force_luma_checkout>
                <always_show_cart_items>0</always_show_cart_items>
            </general>
            <colors>
                <body_background>transparent</body_background>
                <checkout_background>#f5f5f5</checkout_background>
                <checkout_border>#cccccc</checkout_border>
            </colors>
            <back_to_store>
                <enabled>0</enabled>
                <label>Back to Store</label>
            </back_to_store>
            <cleanup>
                <disable_company>1</disable_company>
                <disable_telephone>0</disable_telephone>
                <disable_header>1</disable_header>
                <disable_footer>1</disable_footer>
                <disable_copyright>1</disable_copyright>
                <display_logo>1</display_logo>
                <disable_login_popup>1</disable_login_popup>
                <disable_discount>0</disable_discount>
            </cleanup>
        </clean_checkout>
    </default>
</config>