<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko ifnot: isCustomerLoggedIn() -->

<!-- ko foreach: getRegion('before-login-form') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<form class="form form-login" data-role="email-with-possible-login"
      data-bind="submit:login"
      method="post">
    <fieldset id="customer-email-fieldset" class="fieldset" data-bind="blockLoader: isLoading">
        <div class="field required">
            <label class="label" for="customer-email">
                <span data-bind="i18n: 'Email Address'"></span>
            </label>
            <div class="control _with-tooltip">
                <span data-bind="fadeVisible: isEmailInputEnabled() == false">
                    <span data-bind="html: email" />
                    <button type="button" class="action" data-bind="click: allowEmailInput">
                        <span data-bind="i18n: 'Change email'"></span>
                    </button>
                </span>
                <span data-bind="fadeVisible: isEmailInputEnabled() == true">
                    <input class="input-text"
                           type="email"
                           data-bind="
                                enable: isEmailInputEnabled,
                                textInput: email"
                           name="username"
                           data-validate="{required:true, 'validate-email':true}"
                           autocomplete="off"
                           id="customer-email" />
                </span>
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
                <span class="note" data-bind="fadeVisible: isEmailInputEnabled() == true, css: { 'invalid-email': isEmailInvalid }">
                    <span data-bind="i18n: 'Your email address', fadeVisible: isEmailInvalid() == false"></span>
                    <span data-bind="i18n: 'Please enter valid email address', fadeVisible: isEmailInvalid() == true"></span>
                </span>
            </div>
        </div>

        <!--Hidden fields -->
        <fieldset class="fieldset hidden-fields" data-bind="fadeVisible: isPasswordVisible">
            <div class="field">
                <label class="label" for="customer-password">
                    <span data-bind="i18n: 'Password'"></span>
                </label>
                <div class="control">
                    <input class="input-text"
                           type="password"
                           name="password"
                           id="customer-password"
                           data-validate="{required:true}" autocomplete="off"/>
                </div>

            </div>
            <!-- ko foreach: getRegion('additional-login-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->

            <div class="secondary">
                <a class="action remind" data-bind="attr: { href: forgotPasswordUrl }">
                    <span data-bind="i18n: 'Forgot Your Password?'"></span>
                </a>
            </div>
        </fieldset>
        <!--END Hidden fields -->

        <div class="actions-toolbar">
            <input name="context" type="hidden" value="checkout" />
            <div class="primary register" data-bind="fadeVisible: isRegisterButtonVisible">
                <button type="submit" class="action primary register"><span data-bind="i18n: 'Register'"></span></button>
            </div>
            <div class="primary login" data-bind="fadeVisible: isPasswordVisible">
                <button type="submit" class="action primary login"><span data-bind="i18n: 'Login'"></span></button>
            </div>
            <div class="primary guest" data-bind="fadeVisible: isGuestButtonVisible">
                <button type="submit" class="action primary guest" data-bind="click: continueAsGuest"><span data-bind="i18n: 'Continue as Guest'"></span></button>
            </div>
            <div class="primary next" data-bind="fadeVisible: isNextButtonVisible">
                <button type="button" class="action primary next" data-bind="click: nextAction"><span data-bind="i18n: 'Next'"></span></button>
            </div>
        </div>

    </fieldset>
</form>
<!-- /ko -->
